<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.StudentDao">
    <!--    查询所有-->
    <select id="findAll" parameterType="com.java.model.Student" resultType="com.java.model.StudentInstances.StuInstance1">
        select number,name,time,teacher,score1,score2
        from sc
        where username = #{number}
    </select>

    <select id="getAll" resultType="com.java.model.Course">
        select number,name,time,teacher,score
        from course
    </select>

    <select id="getSome" parameterType="com.java.model.Course" resultType="com.java.model.Course">
        select number,name,time,teacher,score
        from course
        where number = #{number}
        or name = #{name}
    </select>

    <select id="delete" parameterType="com.java.model.StudentInstances.StuInstance3" >
        delete
        from sc
        where username=#{username}
        and number=#{number}
    </select>

    <select id="putCourse" parameterType="com.java.model.StudentInstances.StuInstance3" >
        insert into sc (username,number,name,time,teacher,score1,score2)
        values (#{username}, #{number},(select name from course where number = #{number}),(select time from course where number = #{number}),(select teacher from course where number = #{number}),(select score from course where number = #{number}), NULL);
    </select>

    <select id="getALLtime" parameterType="com.java.model.StudentInstances.StuInstance3" resultType="com.java.model.StudentInstances.StuInstance1">
        select number,name,time
        from sc
        where username = #{username}
    </select>
    <!--      按姓名查找学生-->
    <select id="findByName" parameterType="com.java.model.Student" resultType="com.java.model.Student">
        select *
        from student
        where name like '%${name}%';
    </select>

    <select id="getStudentById" parameterType="java.lang.Integer" resultType="com.java.model.Student">
        select *
        from student
        where u_id = #{id};
    </select>
    <!--    新增学生-->
    <insert id="addStudent" parameterType="com.java.model.Student">
        insert into student (name, number, profession)
        values (#{name}, #{number}, #{profession});
    </insert>
    <!--    删除学生-->
    <delete id="deleteStudent" parameterType="com.java.model.Student">
        delete
        from student
        where id = #{id};
    </delete>

    <!--    更新学生-->
    <update id="updateStudent" parameterType="com.java.model.Student">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="number != null and number != ''">
                number = #{number},
            </if>
            <if test="profession != null and profession != ''">
                profession = #{profession},
            </if>
        </set>
        where id = #{id};
    </update>
</mapper>
