<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javen.dao.StudentDao">
    <!--    查询所有-->
    <select id="findAll" resultType="com.javen.model.Student">
        select *
        from student;
    </select>
    <!--      按姓名查找学生-->
    <select id="findByName" parameterType="com.javen.model.Student" resultType="com.javen.model.Student">
        select *
        from student
        where name like '%${name}%';
    </select>

    <select id="getStudentById" parameterType="java.lang.Integer" resultType="com.javen.model.Student">
        select *
        from student
        where u_id = #{id};
    </select>
    <!--    新增学生-->
    <insert id="addStudent" parameterType="com.javen.model.Student">
        insert into student (name, number, profession)
        values (#{name}, #{number}, #{profession});
    </insert>
    <!--    删除学生-->
    <delete id="deleteStudent" parameterType="com.javen.model.Student">
        delete
        from student
        where id = #{id};
    </delete>

    <!--    更新学生-->
    <update id="updateStudent" parameterType="com.javen.model.Student">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="number != null and number != ''">
                number = #{number},
            </if>
            <if test="profession != null and profession != ''">
                profession = #{profession},
            </if>
        </set>
        where id = #{id};
    </update>
</mapper>
