<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <script src="../../sources/js/vue.js"></script> <!--vue引入-->
    <script src="../../sources/js/axios.min.js"></script>  <!--axios引入-->
</head>
<body>
<div id="main">
    identity:{{ identity }}
    username:<input type="text" v-model="username">
    college:<input type="text" v-model="college">
    Phone:<input type="text" v-model="Phone">
    <input type="button" value="提交修改" @click="sub()">
</div>
</body>
<script>
    new Vue({
        el:"#main",
        data:{
            identity:"",
			username:"",
			college:"",
            Phone:""
        },
        mounted(){
            const data={
                "username":localStorage.getItem("username"),
                "identity":localStorage.getItem("identity")
            };
            $.ajax({
                type: "get",
                url: "http://localhost:8080/information",
                data: data,
                success: function (value) {
                    this.identity=value.identity
                    this.username=value.username
                    this.college=value.college
                    this.Phone=value.Phone
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(typeof (errorThrown));
                }
            });
        },
        methods:{
            sub(){
                const data={
                    "identity":this.identity,
                    "username":this.username,
                    "college":this.college,
                    "Phone":this.Phone
                };
                $.ajax({
                    type: "put",
                    url: "http://localhost:8080/reinformation",
                    data: data,
                    success: function (value) {
                        alert("修改成功");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(typeof (errorThrown));
                    }
                });
            }
        }

    })
</script>
</html>