<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <script src="../../sources/js/vue.js"></script> <!--vue引入-->
    <script src="../../sources/js/axios.min.js"></script>  <!--axios引入-->
</head>
<style>
    @import url(../../sources/css/common.css);
</style>
<body>
<div id="main">
    身份:{{ identity }}<br />
    用户名:<input type="text" v-model="username" disabled><br />
    学院:<input type="text" v-model="college" disabled><br />
    电话:<input type="text" v-model="phone"><br />
    <input class="common_button" type="button" value="提交修改" @click="sub()">
</div>
</body>
<script src="../../sources/js/jquery.js"></script>
<script>
    new Vue({
        el:"#main",
        data:{
            identity:"",
			username:"",
			college:"",
            phone:""
        },
        mounted(){
            var that=this;
            const data={
                "username":localStorage.getItem("username"),
                "identity":localStorage.getItem("identity")
            };
            $.ajax({
                type: "post",
                url: "http://localhost:8080/get_information",
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify(data),
                success: function (value) {
                    that.identity=value.identity
                    that.username=value.username
                    that.college=value.college
                    that.phone=value.phone
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(typeof (errorThrown));
                }
            });
        },
        methods:{
            sub(){
                const data={
                    "identity":this.identity,
                    "username":this.username,
                    "college":this.college,
                    "phone":this.phone
                };
                $.ajax({
                    type: "put",
                    url: "http://localhost:8080/re_information",
                    contentType: "application/json; charset=utf-8",
                    data:JSON.stringify(data),
                    success: function (value) {
                        alert("修改成功");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(typeof (errorThrown));
                    }
                });
            }
        }

    })
</script>
</html>