<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <script src="../../sources/js/vue.js"></script> <!--vue引入-->
    <script src="../../sources/js/axios.min.js"></script>  <!--axios引入-->
</head>
<style>
    @import url(../../sources/css/common.css);
</style>
<body>
    <div id="main">
        输入新密码：<input type="text" v-model="password1"><br />
        确认密码：<input type="text" v-model="password2"><br />
        <input class="common_button" type="button" value="提交" @click="sub()">
    </div>
</body>
<script src="../../sources/js/jquery.js"></script>
<script>
    new Vue({
        el:"#main",
        data:{
            password1:"",
            password2:""
        },
        methods:{
            sub(){
                const data={
                    "new_password":this.password1,
                    "username":localStorage.getItem("username"),
                    "identity":localStorage.getItem("identity")
                };
                $.ajax({
                    type: "put",
                    url: "http://localhost:8080/repassword",
                    contentType: "application/json; charset=utf-8",
                    data:JSON.stringify(data),
                    success: function (value) {
                        alert("修改成功");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(typeof (errorThrown));
                    }
                });
            }
        }
    })
</script>
</html>