<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>选课系统登录入口</title>
    <script src="./sources/js/vue.js"></script> <!--vue引入-->
    <script src="./sources/js/axios.min.js"></script>  <!--axios引入-->
    <style>
        @import url(./sources/css/common.css);
        body {

            background-size: 100%;
            background-color: #4097d7;
            background-position: center bottom;
            background-repeat: repeat-x;
        }
        #login {
            width: 40%;
            margin:0 30%;
            text-align: center;
            background: rgb(100,197,255,0.5);

        }
    </style>
</head>
<body>
<div style="position:relative; width:100%; height:100vh; display:flex; flex-direction: column;">
 <h1 style="text-align: center;color: white">选课系统</h1>
    <div style="position: absolute; top: 50%;transform: translateY(-100%);width: 100%">
        <div class="header">
            登录入口
        </div>
        <div id="login" style="padding: 10px 0 10px 0">
            <label style="width: 30%;">
                <input type="radio" name="search" @click="opset('manager')">
                管理员
            </label>
            <label style="width: 30%;">
                <input type="radio" name="search" @click="opset('teacher')">
                教师
            </label>
            <label style="width: 30%;">
                <input type="radio" name="search" @click="opset('student')">
                学生
            </label><br><br>
            <form>
                用户名  <input type="text" name="user" v-model="username" @focus="s1()" @blur="s3()"><br><br>
                密码   <input width="20%" name="password" v-bind:type="password_type" v-model="password" @focus="s2()" @blur="s4()"><br><br>
                <input class="common_button" type="button" value="登录" @click="log_on()">
            </form>
        </div>
    </div>
</div>
</body>
<script>
    var pic = [];
    pic[0]="./sources/images/login_bg1.png"
    pic[1]="./sources/images/login_bg2.png"
    pic[2]="./sources/images/login_bg3.png"
    pic[3]="./sources/images/login_bg4.png"
    var choose = Math.round(Math.random() * 3);
    document.write('<style>body{background-image:url(' + pic[choose] + ')}</style>');
</script>
<script src="sources/js/jquery.js"></script>
<script>
new Vue({
        el:"#login",
        data:{
            identity:'',
            username:'请输入账号',
            password:'请输入密码',
            password_type:"text"
        },
        methods:{
            s1(){
                if(this.username==="请输入账号"){
                    this.username="";
                }
            },
            s2(){
                if(this.password==="请输入密码"){
                    this.password_type="password";
                    this.password="";
                }
            },
            s3(){
                if(this.username===""){
                    this.username="请输入账号";
                }
            },
            s4(){
                if(this.password===""){
                    this.password_type="text"
                    this.password="请输入密码";
                }
            },
            opset(a){
                this.identity=a;
            },
            log_on(){
                const data = {
                    "username": this.username,
                    "password": this.password,
                    "identity": this.identity
                };
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/login",
                    contentType: "application/json; charset=utf-8",
                    data:JSON.stringify(data),
                    success: function (value) {
                        if (data.identity === '') {
                            alert("请选择身份");
                        } else if (data.username === '请输入账号') {
                            alert("请输入账号");
                        } else if (data.password === '请输入密码') {
                            alert("请输入密码");
                        } else if (value === 1) {
                            window.location.href = "html/main-face.html";
                            localStorage.setItem("username", data.username);
                            localStorage.setItem("identity", data.identity);
                        } else {
                            alert("身份或账号或密码错误");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(typeof (errorThrown));
                    }
                });
            }
        }

    }
    )
</script>
</html>
