<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <script src="../../sources/js/vue.js"></script> <!--vue引入-->
    <script src="../../sources/js/axios.min.js"></script>  <!--axios引入-->
</head>
<style>
    @import url(../../sources/css/common.css);
</style>
<body>
<div id="main">
    <form>
        课程名:<input type="text" v-model="name">
        老师:<input type="text" v-model="teacher">
        授课时间:<input type="text" v-model="time">
        学分:<input type="text" v-model="score">
        <input class="common_button"  type="button" value="提交" @click="sub()">
    </form>
</div>
</body>
<script src="../../sources/js/jquery.js"></script>
<script>
    new Vue({
        el:"#main",
        data:{
            name:"",
            teacher:"",
            time:"",
            score:""
        },
        methods:{
            sub(){
                const data={
                    "name":this.name,
                    "teacher":this.teacher,
                    "time":this.time,
                    "score":this.score
                };
                $.ajax({
                    type: "put",
                    url: "http://localhost:8080/managers/putcourse",
                    contentType: "application/json; charset=utf-8",
                    data:JSON.stringify(data),
                    success: function (value) {
                        alert("成功添加")
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(typeof (errorThrown));
                    }
                })
            }
        }
    })
</script>
</html>